{% set active_page='users'%}{% extends "layout.html" %}
{% block title %}Users{% endblock %}
{% block content %}

<div id="template-target">
</div>

{% raw %}
<script type="text/template" id="template-source">

	<h1>Users</h1>

    <div class="pull-right">
      <a class="btn btn-success" href="{{edit_url}}">
		<i class="icon-white icon-plus"></i> 
		<b>New</b>
	  </a>
    </div>
	
    <table class="table" id="users">
    <thead>
    <th>Username</th><th>Name</th><th>Email</th><th>Organisation</th><th></th>
    </thead>
    <tbody>
	{{#user}}
    <tr>
	<td>
        {{ username }}
    </td>
    <td>{{name}}</td>
    <td>{{email_address}}</td>
    <td>{{organisation}}</td>
    <td>
	  <a href="{{edit_url}}">
		<i class="icon-pencil"></i>
	  </a>
	  <a href="{{delete_url}}" 
		 data-confirm="Are you sure you want to delete user {{username}}?">
		<i class="icon-trash"></i>
	  </a>
	</td>
    </tr>
	{{/user}}
    </tbody>
    </table>
</script>
{% endraw %}
{% endblock %}

{% block final_scripts %}
    <script src="{{url_for('static', 
				 filename='jquery.tablesorter.min.js')}}"></script>
    <script src="{{url_for('static', 
				 filename='js/deletePrompt.js')}}"></script>
    <script >
    $(function() {
    $("table#users").tablesorter({ sortList: [[0,0]] });
    });
    </script>

{% endblock %}
